.news-card-container {
  flex: 1 1 35%;
  box-shadow: 0px 1px 12px 4px #eaeaea;
  background-color: #fff;
  width: 350px;
  height: auto;
  margin: 10px;

  .news-img {
    display: block;
    width: 100%;
    height: auto;
  }

  .news-content {
    padding: 30px;

    .news-card-body {
      .news-title {
        font-size: 20px;
        font-weight: 600;
        color: #4b7586;
      }

      .news-description {
        color: #a0a0a0;
      }
    }

    .news-footer {
      p {
        font-size: 14px;
        margin-right: 10px;
        display: inline-block;
      }

      .author {
        color: #000;
      }

      .date-published {
        color: #9e9e9e;
      }
    }
  }
}
